name: CI/CD Pipeline for fastAPI

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9' 

    # - name: Set up Docker Buildx
    #   uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ vars.DOCKER_USERNAME }}/iris-classifier-fastapi:latest
          ${{ secrets.DOCKER_USERNAME }}/iris-classifier-fastapi:${{ github.sha }}

        
    - name: Commit updated deployment.yaml
      run: |
        git add deployment.yaml
        git commit -m "Updated image tag"
        git push 
